@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.container{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-box{
    width: 320px;
    background-color: white;
    border-radius: 15px;
    padding:15px;
}

.qr-img-area{
    height: 30vh;
    overflow: hidden;
    border-radius: 15px;
}
.qr-img-area img{
    width: 100%;
    height: auto;
}

.qr-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.qr-content .qr-title{
    margin: 1.5rem 0;
    font-weight: 700;
    font-size: 22px;
}

.qr-content .qr-text{
    margin-bottom: 2rem;
    font-size: 16px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}