@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.container{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-box{
    width: 350px;
    height: 50vh;
    background-color: white;
    border-radius: 15px;
}